.ha{
	padding-bottom: 30px;
}

.hb{
	padding-bottom: 15px;
}

.hp{
padding-bottom: 100px
}

.hc{
	padding-bottom: 85px;
}

.hd{
	padding-bottom: 200px;
}

.hf{
	padding-bottom: 25px;
}

body{
	display: grid;
	justify-content: center;
	align-items: center;
}

.loading{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	
	animation: anima  2s ease-in-out infinite ;
	
}

.bul{
	background-color: grey;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.wara {
	background-color: #19A68C;
}
.warb {
	background-color: #F63D3A;
}
.warc {
	background-color: #FDA543;
}
.ward {
	background-color: #193B48;
}

@keyframes anima {
	from {
		transform: rotate(0deg);
		grid-gap: 25px;
	}
	to {
		transform: rotate(360deg);
		grid-gap: 5px;
	}
}

.square{
	margin-top: 175px;
	margin-left: 200px;
	position: absolute;
	display: block;
	background-color: yellow;
	width: 100px;
	height: 100px;
	animation: ani 2s ease-in-out infinite;
}

@keyframes ani {
	to {
		transform: rotate(360deg);
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: red;
	}
}

.line {
	margin-top: 575px;
	margin-left: 200px;
	position: absolute;
	display: block;
	width: 100px;
	height: 5px;
	background-color: black;

}

.jump {
	display: block;
	position: absolute;
	width: 100px;
	height: 100px;
	margin-top: 475px;
	margin-left: 200px; 
	background-color: blue;
	animation: jumpy 1s infinite;
	border-radius: 50%;
}

@keyframes jumpy {
	0% {
		transform: translateY(-200px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-200px);
	}
}